@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap");

@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;
